sources:
  - service
  - ingress
provider: "{{ rc.external_dns.provider }}"
{% if rc.prometheus.enabled|bool %}
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: "monitoring"
{% endif %}
{% if rc.external_dns.provider == "cloudflare" %}
cloudflare:
  apiToken: "{{ rc.cloudflare.api.token }}"
  apiKey: "{{ rc.cloudflare.api.key }}"
  email: "{{ rc.cloudflare.email }}"
  proxied: {{ rc.cloudflare.proxied|bool }}
{% endif %}
{% if rc.external_dns.provider == "hetzner" %}
hetzner:
  token: "{{ rc.hcloud.token }}"
{% endif %}
