apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "acs-wildcard"
  namespace: default
spec:
  secretName: acs-tls
  dnsNames:
    - "{{ rc.stack.hostname }}"
    - "*.{{ rc.stack.hostname }}"
  issuerRef:
{% if rc.cert_manager.solvers.dns01.provider == "cloudflare" %}
    name: letsencrypt-prod
    kind: ClusterIssuer
{% endif %}