apiVersion: cert-manager.io/v1
kind: ClusterIssuer           
metadata:
  name: "acs-dns01"
  namespace: "cert-manager"     
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: "{{ issuer_mail }}"
    privateKeySecretRef:
      name: acs-dns01
    solvers: 
    - dns01:
{% if rc.cert_manager.solvers.dns01.provider == "cloudflare" %}
        cloudflare:
          email: "{{ rc.cloudflare.email }}"
          apiKeySecretRef:
            name: cloudflare-api-key-secret
            key: api-key
{% endif %}
      selector:
        dnsZones:
        - '{{ rc.stack.hostname }}'