{% if rc.cert_manager.solvers.dns01.enabled|bool %}
- dns01:
{% if rc.cert_manager.solvers.dns01.provider == "cloudflare" %}
    cloudflare:
      email: "{{ rc.cloudflare.email }}"
      apiKeySecretRef:
        name: cloudflare-api-key-secret
        key: api-key
{% endif %}
  selector:
    dnsNames:
    - '{{ rc.stack.hostname }}'
    - '*.{{ rc.stack.hostname }}'
{% endif %}