installCRDs: false
global:
  logLevel: 6
{% if rc.prometheus.enabled|bool %}
prometheus:
  enabled: true
  servicemonitor:
    enabled: true
{% endif %}
extraArgs:
  - "--dns01-recursive-nameservers-only"
  - "--dns01-self-check-nameservers=1.1.1.1:53,8.8.8.8:53"