server:
  metrics:
    enabled: true
  url: "argocd.{{ rc.stack.hostname }}"
{% if rc.stack.exposed|bool %}
  ingress:
    enabled: True
    hostname: "argocd.{{ rc.stack.hostname }}"
    tls: true
    path: "/"
    secrets:
      - argocd-tls
    annotations:
      kubernetes.io/ingress.class: "nginx"
{% if rc.cert_manager.enabled|bool %}
      kubernetes.io/tls-acme: "true"
{% if rc.cert_manager.solvers.dns01.enabled|bool %}
      cert-manager.io/cluster-issuer: "acs-dns01"
{% else %}
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
{% endif %}
      acme.cert-manager.io/http01-ingress-class: "nginx"
{% endif %}
    # hosts:
    #   - "argocd.{{ rc.stack.hostname }}"
    # paths:
    #   - "/"
    # pathType: Prefix
    # tls:
    #   - secretName: argocd-tls
    #     hosts:
    #       - "argocd.{{ rc.stack.hostname }}"
    # https: false
{% endif %}