enterpriseEdition: 
  enabled: false
  image:
    repository: portainer/portainer-ee
    tag: 2.7.0
    pullPolicy: Always
{% if rc.stack.exposed|bool %}
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
{% if rc.cert_manager.enabled|bool %}
    kubernetes.io/tls-acme: "true"
{% if rc.cert_manager.solvers.dns01.enabled|bool %}
    cert-manager.io/cluster-issuer: "acs-dns01"
{% else %}
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
{% endif %}
    acme.cert-manager.io/http01-ingress-class: "nginx"
{% endif %}
  hosts:
    - host: "portainer.{{ rc.stack.hostname }}"
      paths:
        - path: "/"
  tls:
    - hosts:
      - "portainer.{{ rc.stack.hostname }}"
      secretName: "portainer-tls"
{% endif %}