{% if rc.prometheus.enabled|bool %}
controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels: 
        release: prometheus
      namespaceSelector:
        any: true
{% endif %}
{% if rc.gitlab.enabled|bool %}
tcp:
  22: "gitlab/gitlab-gitlab-shell:22"
{% endif %}