# https://github.com/keycloak/keycloak-containers/blob/53f4946b9add671f22c8ded6ec54415e8923ea0f/server/tools/docker-entrypoint.sh#L36
#extraEnv:
#  - name: KEYCLOAK_USER
#    value: "{{ rc.keycloak.user }}"
#  - name: KEYCLOAK_PASSWORD
#    value: "{{ rc.keycloak.password }}"

{% if rc.stack.exposed|bool %}
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
{% if rc.cert_manager.enabled|bool %}
    kubernetes.io/tls-acme: "true"
{% if rc.cert_manager.solvers.dns01.enabled|bool %}
    cert-manager.io/cluster-issuer: "acs-dns01"
{% else %}
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
{% endif %}
    acme.cert-manager.io/http01-ingress-class: "nginx"
{% endif %}
  rules:
    - host: "login.{{ rc.stack.hostname }}"
      paths:
        - path: "/"
          pathType: Prefix
  tls:
    - hosts:
      - "login.{{ rc.stack.hostname }}"
      secretName: "keycloak-tls"
{% endif %}
