{
  "auths": {
      "registry.gitlab.com":{
          "username":"{{ gitlab_registry_username }}",
          "password":"{{ gitlab_registry_password }}",
          "email":"{{ akp_letsencrypt_mail }}",
          
    }
  }
}